* {
    margin: 0;
}

html,
body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*Para ver los bordes de los divs*/
div {
    border: 2px solid black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 10%;
}

#formBook {
    min-height: 50%;
    min-width: 40%;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.book-title,
.book-author,
.book-pages,
.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    min-height: 250px;
}