* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 10%;
    background-color: #3D3426;
}

/*Para ver los bordes de los divs*/
div {
    /*border: 2px solid black;*/
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 10%;
    width: 100vw;
    background-color: #C4B197;
}

.header > p {
    font-size: 2rem;
    font-weight: bold;
}

.header > button {
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #E4DFD3;
}

.header > button:hover {
    background-color: #9D8E62;
}

#formBook {
    min-height: 50%;
    min-width: 40%;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-color: #C4B197;
    border-radius: 10px;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.book-title,
.book-author,
.book-pages > label {
    font-weight: bold;
}

#bookTitle,
#bookAuthor,
#bookPages {
    background-color: #E4DFD3;
    border-radius: 10px;
    border-style: none;
}

.book-title,
.book-author,
.book-pages,
.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.book-opt > button,
.modal-footer > button {
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    background-color: #E4DFD3;
}

.book-opt > button:hover,
.modal-footer > button:hover {
    background-color: #9D8E62;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
    min-width: 60%;
    min-height: 210px;
    align-items: center;
    gap: 20px;
    background-color: #3D3426;
}

.card {
    min-width: 60px;
    max-width: 60px;
    min-height: 200px;
    max-height: 200px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    background-color: saddlebrown;
    border-radius: 5%;
    border: 1px solid red;
}

.book-info{
    display: flex;
    flex-direction: column;
    writing-mode: sideways-lr;
    justify-content: space-evenly;
}

.title, .author, .pages {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}

.book-opt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#deleteBook, #readBook {
    min-width: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

#deleteBook {
    margin: 5% 0;
}

#readBook {
    margin-bottom: 5%;
}